<!-- <h1>{{ title }}</h1>
<p>This is a bare-bones template.</p>
<ul>
    {% for person in people %}
    <li>{{ person.name }}</li>
    {% endfor %}
</ul> -->

{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <!--<li>{{tweet.tweet}}</li>-->

        <div class="tweetbox"><img>
        <div class="content"><a href="/users/{{tweet.User.name}}">{{tweet.User.name}}</a> - {{ tweet.tweet }}<br /><a href="/users/{{tweet.User.name}}/tweets/{{tweet.id}}">Re-tweet</a></div>
        </div>
      {% endfor %}

      <h3>New Tweet</h3>
      <div></div>

      <!-- adding a form -->
      {% if showForm %}
      <form action="/submit" method="POST">
        <label for="name_field">Name:</label>
        <input name="name" type = 'text' value="{{name}}" id="name_field" />

        <label for="text_field">Text:</label>
        <input name="text" type="text" id="text_field" style="width: 350px;" />

        <input type="submit" value="Submit" />
      </form>
      {% endif %}

    </div>
  </div>
    
{% endblock %}
